AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_DEFAULT_REGION=ap-southeast-2
S3_BUCKET=bedrock-agent-poc-jjun43
BEDROCK_MODEL_ID=anthropic.claude-sonnet-4-6-20250514-v1:0
BEDROCK_EMBED_MODEL_ID=amazon.titan-embed-text-v2:0
